---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <p>The best way to contact me is via my school email:</p>
    <ul class="link-list">
        <li><a href="mailto:dmontes2@ewu.edu" class="link" style="color: black;">dmontes2@ewu.edu</a></li>
        <li><a href="https://www.linkedin.com/in/daniel-montes-095602192/" target="_blank" class="link" style="color: black;">LinkedIn</a></li>
        <li><a href="https://github.com/danielmontes23" target="_blank" class="link" style="color: black;">GitHub</a></li>
        <li><a href="https://codepen.io/danielmontes23" target="_blank" class="link" style="color: black;">CodePen</a></li>
    </ul>
</Layout>