---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <ul class="link-list">
        <li><a href="mailto:dmontes2@ewu.edu" class="link">dmontes2@ewu.edu</a></li>
        <li><a href="https://www.linkedin.com/in/daniel-montes-095602192/" target="_blank" class="link">LinkedIn</a></li>
        <li><a href="https://github.com/danielmontes23" target="_blank" class="link">GitHub</a></li>
        <li><a href="https://codepen.io/danielmontes23" target="_blank" class="link">CodePen</a></li>
    </ul>
</Layout