---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <nav class="nav">
        <ul class="nav-list">
            <li><button class="btn no-outline"><a href="/" class="nav-link">Home</a></button></li>
            <li><button class="btn no-outline"><a href="/feed" class="nav-link">Projects</a></button></li>
            <li><button class="btn no-outline"><a href="/feed" class="nav-link">Contact</a></button></li>
        </ul>
    </nav>
</Layout