---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <div class="text-container">
        <p class="justified-text">I am currently a Senior at Eastern Washington University pursuing a Bachelor of Science in Computer Science with minors in Communications, Cybersecurity, and Spanish. I am set to graduate in December 2025.</p>
        <p class="justified-text"></p>
    </div>
</Layout>