---
import Layout from '../layout/baseLayout.astro';
import '../../styles/global.css';
---

<Layout>
    <p style="text-align: center; font-weight: bold;"><u>Work in Progress</u></p>
    <h1><u>Daniel Montes</u></h1>
    <div class="text-container">
        <img src="/images/Me.jpeg" alt="Your Image" class="centered-image" />
        <p class="justified-text">Hello, welcome to my personal website. I am currently a Senior at Eastern Washington University pursuing a Bachelor of Science in Computer Science with minors in Communications, Cybersecurity, and Spanish. I am set to graduate in December 2025.</p>
        <p class="justified-text">During my time at Eastern I have studied a variety of topics like web development, software engineering, databases, cybersecurity, and data mining, along with exposure to other areas of computing.</p>
        <p class="justified-text">I’m confident in C, Java, JavaScript, Python, SQL, HTML, and CSS, and I’m always trying to improve my skills with new tools and frameworks. When I’m not coding, you’ll probably find me watching YouTube, hanging out with friends watching sports, or grinding on whatever game has my attention at the moment.</p>
    </div>
</Layout>