---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <!-- Landing Page -->
    <a href="https://danielmontes23-landingpage.netlify.app/" target="_blank" rel="noopener noreferrer">
        <img src="/public/images/Landingpage.PNG" alt="Landing Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
        <p>Landing Page</p>
    </a>
    
</Layout>