---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <p style="text-align: center; font-weight: bold;"><u>Coding Assignments</u></p>
    <p style="text-align: center; font-weight: bold;"><u>Work in Progress</u></p>

    <p style="text-align: center; font-weight: bold;"><u>Personal Websites</u></p>
    <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">
        <!-- Landing Page -->
        <a href="https://danielmontes23-landingpage.netlify.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/Landingpage.PNG" alt="Landing Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Landing Page</p>
        </a>

        <!-- Date/Time -->
        <a href="https://dmontes2-date-time-tailwind.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/DateAndTime.PNG" alt="Date/Time Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Date/Time</p>
        </a>

        <!-- Web Dev Starter -->
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/WebDevStarter.PNG" alt="Web Dev Starter Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Web Dev Starter</p>
        </a>

        </div>
        <p style="text-align: center; font-weight: bold; margin-top: 40px;"><u>Object Oriented Programming Project</u></p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">

        <!-- 212 Project -->
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/CSCD212RunningMenuSS.png" alt="CSCD212 Running Menu Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Output</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/CSCD212Output.png" alt="CSCD212 Output Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Output</p>
        </a>
        
        </div>
        <p style="text-align: center; font-weight: bold; margin-top: 40px;"><u>SQL Project</u></p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">

        <!-- SQL Project -->
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/Q0,Q4.png" alt="SQL/Java Results 1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Results from Q0 to Q4.</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/Q5,Q7.png" alt="SQL/Java Results 2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Results from Q5 to Q7.</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/LastResults.png" alt="SQL/Java Results 3" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Final results.</p>
        </a>

        </div>
        <p style="text-align: center; font-weight: bold; margin-top: 40px;"><u>Group Projects</u></p>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px;">CSCD350</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">

        <!-- CSCD350 Project -->
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/CSCD350Pics/AskingforLocation.png" alt="350 Project1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Asking to use my Location.</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/CSCD350Pics/ReturnedmyLocation.png" alt="350 Project2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Returned my Location.</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/CSCD350Pics/Today+Weekly.png" alt="350 Project3" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Today and Weekly Forecast.</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/CSCD350Pics/Settings.png" alt="350 Project4" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Functional Settings Page.</p>
        </a>
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/CSCD350Pics/Notifications.png" alt="350 Project5" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Notifications regarding the weather.</p>
        </a>

        </div>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px; margin-top: 20px;">Senior Project</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">

        <!-- Senior Project -->


    </div>
</Layout>