---
import Layout from '../layout/baseLayout.astro';
---

<link rel="stylesheet" href="global.css">

<Layout>
    <p style="text-align: center; font-weight: bold;"><u>Work in Progress(Picture size)</u></p>
    <p style="text-align: center; font-weight: bold;"><u>Coding Assignments</u></p>

    <p style="text-align: center; font-weight: bold;"><u>Personal Websites</u></p>
    <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">
        <!-- Landing Page -->
        <a href="https://danielmontes23-landingpage.netlify.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/Landingpage.PNG" alt="Landing Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Landing Page</p>
        </a>

        <!-- Date/Time -->
        <a href="https://dmontes2-date-time-tailwind.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/DateAndTime.PNG" alt="Date/Time Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Date/Time</p>
        </a>

        <!-- Web Dev Starter -->
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/WebDevStarter.PNG" alt="Web Dev Starter Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Web Dev Starter</p>
        </a>

        </div>
        <p style="text-align: center; font-weight: bold; margin-top: 40px;"><u>Personal Projects</u></p>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px;">Object Oriented Programming Project</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">

        <!-- 212 Project -->
        <div style="text-align: center;">
            <img src="/ProjectPics/CSCD212RunningMenuSS.png" alt="CSCD212 Running Menu Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Menu Running</p>
        </div>
        <div style="text-align: center;">
            <img src="/ProjectPics/CSCD212Output.png" alt="CSCD212 Output Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Menu Output</p>
        </div>
        
        </div>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px;">SQL Project</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">

        <!-- SQL Project -->
        <div style="text-align: center;">
            <img src="/ProjectPics/Q0,Q4.png" alt="SQL/Java Results 1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Results from Q0 to Q4.</p>
        </div>
        <div style="text-align: center;">
            <img src="/ProjectPics/Q5,Q7.png" alt="SQL/Java Results 2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Results from Q5 to Q7.</p>
        </div>
        <div style="text-align: center;">
            <img src="/ProjectPics/LastResults.png" alt="SQL/Java Results 3" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Final results.</p>
        </div>

        </div>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px;">Data Mining Project</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">

        <!-- Data Mining Hw2 -->
        <div style="text-align: center;">
            <img src="/DataMining/DataMiningAccuracyHw2.png" alt="Data Mining Accuracy Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Data Mining Accuracy</p>
        </div>

        </div>
        <p style="text-align: center; font-weight: bold; margin-top: 40px;"><u>Group Projects</u></p>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px;">CSCD350</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">

        <!-- CSCD350 Project -->
        <div style="text-align: center;">
            <img src="/CSCD350Pics/AskingforLocation.png" alt="350 Project1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Asking to use my Location.</p>
        </div>
        <div style="text-align: center;">
            <img src="/CSCD350Pics/ReturnedmyLocation.png" alt="350 Project2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Returned my Location.</p>
        </div>
        <div style="text-align: center;">
            <img src="/CSCD350Pics/Today+Weekly.png" alt="350 Project3" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Today and Weekly Forecast.</p>
        </div>
        <div style="text-align: center;">
            <img src="/CSCD350Pics/Settings.png" alt="350 Project4" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Functional Settings Page.</p>
        </div>
        <div style="text-align: center;">
            <img src="/CSCD350Pics/Notifications.png" alt="350 Project5" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Notifications regarding the weather.</p>
        </div>

        <!-- Senior Project -->
        </div>
        <p style="text-align: center; font-size: 1.1em; font-weight: 500; margin-bottom: 10px; margin-top: 20px;">Senior Project</p>
        <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap; margin-top: 20px;">
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Login.PNG" alt="Senior Project Login" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Login.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_CreateAccount.PNG" alt="Senior Project Create Account" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Create Account.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_AccountInfo.PNG" alt="Senior Project Account Info" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Account Info.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Edit1.PNG" alt="Senior Project Edit Profile 1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Edit Profile 1/2.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Edit2.PNG" alt="Senior Project Edit Profile 2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Edit Profile 2/2.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Index.PNG" alt="Senior Project Home" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Home.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Weather.PNG" alt="Senior Project Weather" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Weather.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_PlantSearch1.PNG" alt="Senior Project Plant Search 1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Plant Search 1/2.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_PlantSearch2.PNG" alt="Senior Project Plant Search 2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Plant Search 2/2.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_FlowerSearch.PNG" alt="Senior Project Flower Search" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Flower Search.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Groups1.PNG" alt="Senior Project Groups 1" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Groups 1/2.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Groups2.PNG" alt="Senior Project Groups 2" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Groups 2/2.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_GroupFinal.PNG" alt="Senior Project Group Final" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Group Final.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Comment.PNG" alt="Senior Project Comment" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Comment.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_LikeFunction.PNG" alt="Senior Project Like Function" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Like Function.</p>
        </div>
        <div style="text-align: center;">
            <img src="/SeniorProjectPics/SP_Notifications.PNG" alt="Senior Project Notifications" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Notifications.</p>
        </div>
    </div>
</Layout>