---
import Layout from '../layout/baseLayout.astro';
---

<Layout>
    <p style="text-align: center; font-weight: bold;"><u>Work in Progress</u></p>
    <p style="text-align: center; font-weight: bold;"><u>Websites</u></p>
    <div style="display: flex; gap: 20px; justify-content: center; flex-wrap: wrap;">
        <!-- Landing Page -->
        <a href="https://danielmontes23-landingpage.netlify.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/Landingpage.PNG" alt="Landing Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Landing Page</p>
        </a>

        <!-- Date/Time -->
        <a href="https://dmontes2-date-time-tailwind.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/DateAndTime.PNG" alt="Date/Time Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Date/Time</p>
        </a>

        <!-- Web Dev Starter -->
        <a href="https://web-dev-starter-pi.vercel.app/" target="_blank" rel="noopener noreferrer" style="text-align: center;">
            <img src="/ProjectPics/WebDevStarter.PNG" alt="Web Dev Starter Page Preview" style="width: 250px; height: 250px; object-fit: cover;" />
            <p>Web Dev Starter</p>
        </a>
    </div>
    <p style="text-align: center; font-weight: bold;"><u>Coding Assignments</u></p>
</Layout>