@import "tailwindcss";

html {
    background-color: rgb(189, 215, 206);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #088908;
    padding: 0;
    margin-bottom: 0.5em;
    text-align: center;
    color: #cbecca;
    font-size: 1.25em;
    font-weight: bold;
    width: 100%;
}