@import "tailwindcss";

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* Space between Date and Time */
}

footer {
    margin-top: auto;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
}