---
import '../styles/global.css';
import Time from '../components/time.astro';
import Date from '../components/date.astro';
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Website</title>
    </head>
    <body>
        <header>
            <Date/>
            <Time/>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <p>&copy; 2025 Daniel Montes</p>
        </footer>
    </body>
</html>