---
import Time from '../components/time.astro';
import Date from '../components/date.astro';
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Website</title>
    </head>
    <body>
        <header>
            <h1>Welcome to My Website</h1>
            <Time/>
            <Date/>
        </header>
        <main>
            <slot />
        </main>
        <footer>
            <p>&copy; My Website. All rights reserved.</p>
        </footer>
    </body>
</html>